body {
  background-color: #282c34;

}

.App-logo {
  height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;    
}

.items {
  font-size: 20px;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.routers {
  color: #f2f2f2;
  text-align: center;
}
.container-home{
  margin-top: 20px;
  /* border: 2px solid red; */
  box-shadow: 4px 4px 8px #f2f2f2;
  border-radius: 10px; 
  padding: 15px; 
}
.container-contect{
  margin-top: 20px;
  /* border: 2px solid red; */
  box-shadow: 4px 4px 8px #f2f2f2;
  border-radius: 10px; 
  padding: 15px; 
}
.container{
  margin-top: 20px; 
  
  /* padding: 15px;  */
}
/* .students-table{
  width: 100%;
  border: 1px solid gray;
  margin-top: 20px;
} */
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30pxpx;
}
/* .students-table tr th, .students-table tr td{
  padding: 15px;
} */
.edit-item{
  color: rgb(92, 17, 255);
}
.add-new-student{
  font-size: 18px;
  border-radius: 30px;
  height: 10%;  
  padding: 8px;
  margin-top: 15px;
}